# INFO-F-422 -  Statistical Foundations of Machine Learning 

### Student 1 - __[antoine.bedaton@ulb.be](mailto:antoine.bedaton@ulb.be) - Student ID 459482__
### Student 2 - __[pierre.defraene@ulb.be](mailto:pierre.defraene@ulb.be) - Student ID 463941__
### Student 3 - __[nathan.marotte@ulb.be](mailto:nathan.marotte@ulb.be) - Student ID 459274__

### Video presentation: www.youtube.com/abcd1234

## Project Title

# Introduction

Using data from Taarifa and the Tanzanian Ministry of Water, we are asked to predict which pump are functional, non functional, or functional but need some repairs. The data contains information about each pump (position, region name, population, type of payment, installator, etc ...) and comes in 3 files : 

- training_set_labels : Contains the list of all id followed by their status (functionning, non functionning or needing repairs)

- training_set_values : Contains all the information about each pump with their id that correspond to training_set_labels

- test_set_values : The same structure as training_set_values but for which the status is unknown and that we will have to predict.

First, we will preprocess the data to remove redundent or useless information. For exemple the name of the pump isn't really relevant for guessing if it is working or not, while the name of the constructor is.

Once we reduced the size of the input space, we will run our 3 models on the data, that is training_set_values with their status_group column added.

Our group chose the 3 following models : 

- Neural Network (nnet library)
- Decision Tree (rpart library)
- Random Forest (randomForest library)

We will also need the following libraries 

- Bedabrary
- LibraPierre
- Nadule

Uncomment and execute the following cell to install all the require libraries

In [1]:
# install.packages('dummies')
# install.packages('rpart')
# install.packages('rpart.plot')
# install.packages('nnet')
# install.packages('randomForest')

We will be using R in version 3.6.1
This can be checked by executing the following cell

In [2]:
R.version$version.string

[1] "R version 4.0.5 (2021-03-31)"

We will use the data provided by the competition "Pump it Up: Data Mining the Water Table" available [here](https://www.drivendata.org/competitions/7/pump-it-up-data-mining-the-water-table/])

In [3]:
training_set_labels <- read.csv(file = 'data/training_set_labels.csv', stringsAsFactors = T)
test_set_values <- read.csv(file = 'data/test_set_values.csv', stringsAsFactors = T)
training_set_values <- read.csv(file = 'data/training_set_values.csv', stringsAsFactors = T)

#training_set_labels
#summary(test_set_values)

# Data preprocessing

Before starting the modeling, we must first process the data. We are given a huge number of columns and rows, some of which are not useful to determine the functioning of the pump. For instance, maybe the name of the pump is not important to guess if it is working or not.

## Removing useless columns
First we will check all the columns and check if, by chance, one column has always the same value. If there exist such a column, we can safely delete it since it doesn't bring any information to the model.

In [4]:
for (colname in names(training_set_values)) {
    list_of_unique <- unique(training_set_values[colname])
    if (nrow(list_of_unique) == 1){
        print(paste("the column", colname, "has always the same value"))
    }
}

[1] "the column recorded_by has always the same value"

One column was found that is always the same value, we will then remove it from the dataset

In [5]:
training_set_values <- training_set_values[,setdiff(colnames(training_set_values),"recorded_by")] # remove recorded_by

Now we can look at the data in a less strict manner. What if for only a few of the entries, we have a different value ? This won't be detected with the above loop, but can be detected manually by checking the number of occurence of the most common value. If it appears, let's say more than 99 % of the time, we assume it is always that value and remove that column.

In [6]:

# Computes the ratio of the value that appear the most compared to the rest of the data
maxima <- c()
for (colname in names(training_set_values)) {
   maxima <- rbind(maxima, max(table(training_set_values[colname]))/59400)
}

# Shows it nicely
df <- data.frame(names(training_set_values), maxima)
df <- df[order(df$maxima, decreasing=TRUE),]
head(df)

   names.training_set_values. maxima
10 num_private                0.9872559
28 management_group           0.8836700
19 public_meeting             0.8587710
31 water_quality              0.8555219
32 quality_group              0.8555219
37 source_class               0.7709428

We see that num_private has almost 99% of the time the same value. Given the huge amount of columns and data, we do not feel that it is necessary to keep that information, it would only make the model more complicated for a slight change in the error rate. Therefore we delete that column.

In [7]:
training_set_values <- training_set_values[,setdiff(colnames(training_set_values),"num_private")] # remove num_private

## Looking at the corelation between columns

When looking through the data, we found multiple columns that were repeated. We suspected that `quantity` and `quantity_group` were highly corolated, so we ran the following command

In [8]:
table(training_set_values$quantity, training_set_values$quantity_group)

                 dry enough insufficient seasonal unknown
  dry           6246      0            0        0       0
  enough           0  33186            0        0       0
  insufficient     0      0        15129        0       0
  seasonal         0      0            0     4050       0
  unknown          0      0            0        0     789

It appears that when `quantity` is `dry`, 100% of the time `quantity_group` is also dry. Those two columns have a corelation of 100%, it means one of the two is redundant and can safely be removed.

We could then do that for all the combination of columns, but this isn't efficient and we can decide by ourselves by looking at what the columns represent, and test for corelation between them. This can be done via `chiqs.test` of the contingency table of the two columns. 

For exemple with `quantity` and `quantity_group`

In [9]:
chisq.test(table(training_set_values$quantity, training_set_values$quantity_group))

	Pearson's Chi-squared test

data:  table(training_set_values$quantity, training_set_values$quantity_group)
X-squared = 237600, df = 16, p-value < 2.2e-16

We get a high X-squared value and a very small p-value, this would mean the two columns are highly corrolated.

We then checked all the columns and tested the one we found that might be highly corrolated. Since R is a really bad language, we didn't find a way to do that in a for loop with the name or number of the column in a variable, so we copy-pasted the call with all the columns pair we suspected

In [10]:
head(training_set_values)

chisq.test(table(training_set_values$funder, training_set_values$payment_type))
chisq.test(table(training_set_values$water_quality, training_set_values$quality_group))

  id    amount_tsh date_recorded funder              gps_height installer
1 69572 6000       2011-03-14    Roman               1390       Roman
2  8776    0       2013-03-06    Grumeti             1399       GRUMETI
3 34310   25       2013-02-25    Lottery Club         686       World vision
4 67743    0       2013-01-28    Unicef               263       UNICEF
5 19728    0       2011-07-13    Action In A            0       Artisan
6  9944   20       2011-03-13    Mkinga Distric Coun    0       DWE
  longitude latitude   wpt_name             basin                   ⋯
1 34.93809   -9.856322 none                 Lake Nyasa              ⋯
2 34.69877   -2.147466 Zahanati             Lake Victoria           ⋯
3 37.46066   -3.821329 Kwa Mahundi          Pangani                 ⋯
4 38.48616  -11.155298 Zahanati Ya Nanyumbu Ruvuma / Southern Coast ⋯
5 31.13085   -1.825359 Shuleni              Lake Victoria           ⋯
6 39.17280   -4.765587 Tajiri               Pangani                 ⋯
  payment_type water_quality quality_group quantity     quantity_group
1 annually     soft          good          enough       enough
2 never pay    soft          good          insufficient insufficient
3 per bucket   soft          good          enough       enough
4 never pay    soft          good          dry          dry
5 never pay    soft          good          seasonal     seasonal
6 per bucket   salty         salty         enough       enough
  source               source_type          source_class
1 spring               spring               groundwater
2 rainwater harvesting rainwater harvesting surface
3 dam                  dam                  surface
4 machine dbh          borehole             groundwater
5 rainwater harvesting rainwater harvesting surface
6 other                other                unknown
  waterpoint_type             waterpoint_type_group
1 communal standpipe          communal standpipe
2 communal standpipe          communal standpipe
3 communal standpipe multiple communal standpipe
4 communal standpipe multiple communal standpipe
5 communal standpipe          communal standpipe
6 communal standpipe multiple communal standpipe

Warning message in chisq.test(table(training_set_values$funder, training_set_values$payment_type)):
“Chi-squared approximation may be incorrect”

	Pearson's Chi-squared test

data:  table(training_set_values$funder, training_set_values$payment_type)
X-squared = 89600, df = 11382, p-value < 2.2e-16

Warning message in chisq.test(table(training_set_values$water_quality, training_set_values$quality_group)):
“Chi-squared approximation may be incorrect”

	Pearson's Chi-squared test

data:  table(training_set_values$water_quality, training_set_values$quality_group)
X-squared = 297000, df = 35, p-value < 2.2e-16

Description Chi-squared tes TODO

## Missing value imputation

## Feature engineering

## Feature selection

In [11]:
options(repr.matrix.max.rows=10, repr.matrix.max.cols=100) # option pour la taille des prints



 #table(training_set_values$waterpoint_type_group, training_set_values$waterpoint_type)  # less information
training_set_values <- training_set_values[,setdiff(colnames(training_set_values),"waterpoint_type_group")]
 #table(training_set_values$source_type, training_set_values$source_class)  # less information
training_set_values <- training_set_values[,setdiff(colnames(training_set_values),"source_class")]
 #table(training_set_values$source, training_set_values$source_type)  # less information
training_set_values <- training_set_values[,setdiff(colnames(training_set_values),"source_type")]
 #table(training_set_values$water_quality, training_set_values$quality_group)  # less information
training_set_values <- training_set_values[,setdiff(colnames(training_set_values),"quality_group")]
 #table(training_set_values$quantity, training_set_values$quantity_group)  # equivalent, we delete column
training_set_values <- training_set_values[,setdiff(colnames(training_set_values),"quantity_group")]
 #table(training_set_values$extraction_type, training_set_values$extraction_type_group)  # we can delete column
training_set_values <- training_set_values[,setdiff(colnames(training_set_values),"extraction_type_group")]
 #table(training_set_values$extraction_type, training_set_values$extraction_type_class)  # We can delete column
#training_set_values <- training_set_values[,setdiff(colnames(training_set_values),"extraction_type_class")]
# table(training_set_values$payment, training_set_values$payment_type)  # equivalent,  we delete column
training_set_values <- training_set_values[,setdiff(colnames(training_set_values),"payment_type")]
 #table(training_set_values$management, training_set_values$management_group)  # we delete column
training_set_values <- training_set_values[,setdiff(colnames(training_set_values),"management_group")]
 #table(training_set_values$region, training_set_values$region_code)  # very correlated but some cities/code are ambigius
# table(training_set_values$basin, training_set_values$subvillage)  # not really correlated, keep


# head(training_set_values)
names(training_set_values)
length(names(training_set_values))
#training_set_values[-c(40, 38, 37, 33, 35, 26, 27, 31, 29, 14, 12)]
training_set_values
# subvillage > region 
training_set_labels

 [1] "id"                    "amount_tsh"            "date_recorded"
 [4] "funder"                "gps_height"            "installer"
 [7] "longitude"             "latitude"              "wpt_name"
[10] "basin"                 "subvillage"            "region"
[13] "region_code"           "district_code"         "lga"
[16] "ward"                  "population"            "public_meeting"
[19] "scheme_management"     "scheme_name"           "permit"
[22] "construction_year"     "extraction_type"       "extraction_type_class"
[25] "management"            "payment"               "water_quality"
[28] "quantity"              "source"                "waterpoint_type"

[1] 30

      id    amount_tsh date_recorded funder          gps_height installer
1     69572 6000       2011-03-14    Roman           1390       Roman
2      8776    0       2013-03-06    Grumeti         1399       GRUMETI
3     34310   25       2013-02-25    Lottery Club     686       World vision
4     67743    0       2013-01-28    Unicef           263       UNICEF
5     19728    0       2011-07-13    Action In A        0       Artisan
⋮     ⋮     ⋮          ⋮             ⋮               ⋮          ⋮
59396 60739   10       2013-05-03    Germany Republi 1210       CES
59397 27263 4700       2011-05-07    Cefa-njombe     1212       Cefa
59398 37057    0       2011-04-11                       0
59399 31282    0       2011-03-08    Malec              0       Musa
59400 26348    0       2011-03-23    World Bank       191       World
      longitude latitude   wpt_name             basin
1     34.93809   -9.856322 none                 Lake Nyasa
2     34.69877   -2.147466 Zahanati             Lake Victoria
3     37.46066   -3.821329 Kwa Mahundi          Pangani
4     38.48616  -11.155298 Zahanati Ya Nanyumbu Ruvuma / Southern Coast
5     31.13085   -1.825359 Shuleni              Lake Victoria
⋮     ⋮         ⋮          ⋮                    ⋮
59396 37.16981  -3.253847  Area Three Namba 27  Pangani
59397 35.24999  -9.070629  Kwa Yahona Kuvala    Rufiji
59398 34.01709  -8.750434  Mashine              Rufiji
59399 35.86132  -6.378573  Mshoro               Rufiji
59400 38.10405  -6.747464  Kwa Mzee Lugawa      Wami / Ruvu
      subvillage   region      region_code district_code lga
1     Mnyusi B     Iringa      11           5            Ludewa
2     Nyamara      Mara        20           2            Serengeti
3     Majengo      Manyara     21           4            Simanjiro
4     Mahakamani   Mtwara      90          63            Nanyumbu
5     Kyanyamisa   Kagera      18           1            Karagwe
⋮     ⋮            ⋮           ⋮           ⋮             ⋮
59396 Kiduruni     Kilimanjaro  3          5             Hai
59397 Igumbilo     Iringa      11          4             Njombe
59398 Madungulu    Mbeya       12          7             Mbarali
59399 Mwinyi       Dodoma       1          4             Chamwino
59400 Kikatanyemba Morogoro     5          2             Morogoro Rural
      ward             population public_meeting scheme_management
1     Mundindi         109        True           VWC
2     Natta            280                       Other
3     Ngorika          250        True           VWC
4     Nanyumbu          58        True           VWC
5     Nyakasimbi         0        True
⋮     ⋮                ⋮          ⋮              ⋮
59396 Masama Magharibi 125        True           Water Board
59397 Ikondo            56        True           VWC
59398 Chimala            0        True           VWC
59399 Mvumi Makulu       0        True           VWC
59400 Ngerengere       150        True           VWC
      scheme_name                 permit construction_year extraction_type
1     Roman                       False  1999              gravity
2                                 True   2010              gravity
3     Nyumba ya mungu pipe scheme True   2009              gravity
4                                 True   1986              submersible
5                                 True      0              gravity
⋮     ⋮                           ⋮      ⋮                 ⋮
59396 Losaa Kia water supply      True   1999              gravity
59397 Ikondo electrical water sch True   1996              gravity
59398                             False     0              swn 80
59399                             True      0              nira/tanira
59400                             True   2002              nira/tanira
      extraction_type_class management  payment               water_quality
1     gravity               vwc         pay annually          soft
2     gravity               wug         never pay             soft
3     gravity               vwc         pay per bucket        soft
4     submersible           vwc         never pay             soft
5     gravity               other       never pay             soft
⋮     ⋮                     ⋮           ⋮                     ⋮
59396 gravity               water board pay per bucket        soft
59397 gravity               vwc         pay annually          soft
59398 handpump              vwc         pay monthly           fluoride
59399 handpump              vwc         never pay             soft
59400 handpump              vwc         pay when scheme fails salty
      quantity     source               waterpoint_type
1     enough       spring               communal standpipe
2     insufficient rainwater harvesting communal standpipe
3     enough       dam                  communal standpipe multiple
4     dry          machine dbh          communal standpipe multiple
5     seasonal     rainwater harvesting communal standpipe
⋮     ⋮            ⋮                    ⋮
59396 enough       spring               communal standpipe
59397 enough       river                communal standpipe
59398 enough       machine dbh          hand pump
59399 insufficient shallow well         hand pump
59400 enough       shallow well         hand pump

      id    status_group
1     69572 functional
2      8776 functional
3     34310 functional
4     67743 non functional
5     19728 functional
⋮     ⋮     ⋮
59396 60739 functional
59397 27263 functional
59398 37057 functional
59399 31282 functional
59400 26348 functional

At this time, we have remove the column which gave less information or was redundant. Now, we want to look after the correlation between the value and the output

In [21]:
#head(training_set_values, 10)[3, 2]
empty_check <- c("funder", "installer", "basin", "subvillage", "region", "lga", "ward", "scheme_management", "scheme_name", "permit", "extraction_type", "extraction_type_class", "payment", "water_quality", "quantity", "source", "waterpoint_type", "permit", "public_meeting") 
for (row in 1:nrow(head(training_set_values, 10))){
    #print(training_set_values[row])
    for (col in 1:ncol(head(training_set_values, 10))){
        col_name <- names(training_set_values[row])
        if (col_name %in% empty_check){
            if (is.na(training_set_values[row, col])){
                print(paste("Changing"))
                training_set_values[row, col] = as.factor("unknown")
            }
        }
    }
}
head(training_set_values)

[1] "Changing"

Warning message in `[<-.factor`(`*tmp*`, iseq, value = structure(1L, .Label = "unknown", class = "factor")):
“invalid factor level, NA generated”

[1] "Changing"

Warning message in `[<-.factor`(`*tmp*`, iseq, value = structure(1L, .Label = "unknown", class = "factor")):
“invalid factor level, NA generated”

[1] "Changing"

Warning message in `[<-.factor`(`*tmp*`, iseq, value = structure(1L, .Label = "unknown", class = "factor")):
“invalid factor level, NA generated”

  id    amount_tsh date_recorded funder              gps_height installer
1 69572 6000       2011-03-14    Roman               1390       Roman
2  8776    0       2013-03-06    Grumeti             1399       GRUMETI
3 34310   25       2013-02-25    Lottery Club         686       World vision
4 67743    0       2013-01-28    Unicef               263       UNICEF
5 19728    0       2011-07-13    Action In A            0       Artisan
6  9944   20       2011-03-13    Mkinga Distric Coun    0       DWE
  longitude latitude   wpt_name             basin                   subvillage
1 34.93809   -9.856322 none                 Lake Nyasa              Mnyusi B
2 34.69877   -2.147466 Zahanati             Lake Victoria           Nyamara
3 37.46066   -3.821329 Kwa Mahundi          Pangani                 Majengo
4 38.48616  -11.155298 Zahanati Ya Nanyumbu Ruvuma / Southern Coast Mahakamani
5 31.13085   -1.825359 Shuleni              Lake Victoria           Kyanyamisa
6 39.17280   -4.765587 Tajiri               Pangani                 Moa/Mwereme
  region  region_code district_code lga       ward       population
1 Iringa  11           5            Ludewa    Mundindi   109
2 Mara    20           2            Serengeti Natta      280
3 Manyara 21           4            Simanjiro Ngorika    250
4 Mtwara  90          63            Nanyumbu  Nanyumbu    58
5 Kagera  18           1            Karagwe   Nyakasimbi   0
6 Tanga    4           8            Mkinga    Moa          1
  public_meeting scheme_management scheme_name                 permit
1 True           VWC               Roman                       False
2                Other                                         True
3 True           VWC               Nyumba ya mungu pipe scheme True
4 True           VWC               NA                          True
5 True                                                         True
6 True           VWC               Zingibali                   True
  construction_year extraction_type extraction_type_class management
1 1999              gravity         gravity               vwc
2 2010              gravity         gravity               wug
3 2009              gravity         gravity               vwc
4 1986              submersible     submersible           vwc
5    0              gravity         gravity               other
6 2009              submersible     submersible           vwc
  payment        water_quality quantity     source
1 pay annually   soft          enough       spring
2 never pay      soft          insufficient rainwater harvesting
3 pay per bucket soft          enough       dam
4 never pay      soft          dry          machine dbh
5 never pay      soft          seasonal     rainwater harvesting
6 pay per bucket salty         enough       other
  waterpoint_type
1 communal standpipe
2 communal standpipe
3 communal standpipe multiple
4 communal standpipe multiple
5 communal standpipe
6 communal standpipe multiple

## End of preprocessing

In [ ]:
factor_variables_train <- which(sapply(training_set_values[1,],class)=="factor")
factor_variables_test <- which(sapply(test_set_values[1,],class)=="factor") 

only_num_var_train <- training_set_values[,-factor_variables_train]
only_num_var_test <- test_set_values[,-factor_variables_test]

#data_train add status_group
data_train <- cbind(only_num_var_train, training_set_labels[2])
data_train

summary(data_train)

We need to transform also categorical variable with 'one-hot-encoding'. To do so, we will use `dummies` package

In [ ]:
install.packages('dummies')
library(dummies)

In [ ]:
data_factor_train <- training_set_values[,factor_variables_train]
data_factor_test <- test_set_values[,factor_variables_test]

In [ ]:
variables_to_keep <- c("water_quality", "source","permit")

data_factor_onehot_train <- dummy.data.frame(data_factor_train[,variables_to_keep], sep="_")
data_factor_onehot_test <- dummy.data.frame(data_factor_test[,variables_to_keep], sep="_")

dim(data_factor_onehot_train)
data_factor_onehot_train[1:2,]

In [ ]:
training_with_dummy <- cbind(data_train,data_factor_onehot_train)
test_with_dummy <- cbind(only_num_var_test,data_factor_onehot_test)

training_with_dummy

# Model selection

First of All, we decided to use the decision tree considering that it is one of the simplest machine learning technique.

## Model 1

In [ ]:
library(rpart)
library(rpart.plot)

data_train

# example model 

#DS <- cbind(X, functionnal=Y)
#data_train doit encore être défini data input + status_group

#model<- rpart(status_group~., data= data_train, method = 'class') # what we need to change according of the model
model<- rpart(status_group~., data= training_with_dummy, method = 'class')

prp(model)

#predict_unseen <- predict(model,test_set_values, type = 'class')
predict_unseen <- predict(model,test_with_dummy, type = 'class')

status_group <-predict_unseen

data_predict <- test_set_values




data_predict <- cbind(data_predict[1],status_group)

table(data_predict["status_group"] == "functional")

data_predict

write.csv(data_predict,"decisionTree.csv",row.names = FALSE)

## Model 2

In [ ]:
library(nnet)

data_train

# example model 

#DS <- cbind(X, functionnal=Y)
#data_train doit encore être défini data input + status_group

#nnet_model <- nnet(status_group~., data= data_train, size = 8, decay=5e-4, maxit=200) # what we need to change according of the model
nnet_model <- nnet(status_group~., data= training_with_dummy, size = 8, decay=5e-4, maxit=200)

#predict_unseen <- predict(nnet_model, test_set_values, type= 'class')
predict_unseen <- predict(nnet_model, test_with_dummy, type= 'class')

status_group <-predict_unseen

nnet_data_predict <- cbind(data_predict[1],status_group)

nnet_data_predict

table(nnet_data_predict["status_group"] == "functional")

write.csv(nnet_data_predict,"NeuralNetwork.csv",row.names = FALSE)

We will also try to make the prediction with neural networks.

In [ ]:
#predict_unseen <- predict(nnet_model,only_num_var_train, type= 'class') # test nathan with know variable

In [ ]:
#results <- table(ifelse(predict_unseen == training_set_labels$status_group, "true", "false"))
#results["true"]/(results["true"]+results["false"])

## Model 3

In [ ]:
library("randomForest")

rf_model<- randomForest(status_group~., data= data_train) # what we need to change according of the model


rf_predict_unseen <- predict(rf_model,test_set_values, type = 'class')

rf_predict_unseen

status_group <-rf_predict_unseen

rf_data_predict <- test_set_values


rf_data_predict <- cbind(data_predict[1],status_group)


rf_data_predict

write.csv(rf_data_predict,"randomForest.csv",row.names = FALSE)

In [ ]:
rf_model

# Alternative models

# Conclusions