# INFO-F-422 -  Statistical Foundations of Machine Learning 

### Student 1 - __[antoine.bedaton@ulb.be](mailto:antoine.bedaton@ulb.be) - Student ID 459482__
### Student 2 - __[pierre.defraene@ulb.be](mailto:pierre.defraene@ulb.be) - Student ID 463941__
### Student 3 - __[nathan.marotte@ulb.be](mailto:nathan.marotte@ulb.be) - Student ID 459274__

### Video presentation: www.youtube.com/abcd1234

## Project Title

# Introduction

librairies utilisées todo

In [1]:
library("tidyverse")

Warning message:
"package 'tidyverse' was built under R version 4.0.5"
-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.3     v purrr   0.3.4
v tibble  3.1.0     v dplyr   1.0.5
v tidyr   1.1.3     v stringr 1.4.0
v readr   1.4.0     v forcats 0.5.1

Warning message:
"package 'ggplot2' was built under R version 4.0.5"
Warning message:
"package 'tibble' was built under R version 4.0.5"
Warning message:
"package 'tidyr' was built under R version 4.0.5"
Warning message:
"package 'readr' was built under R version 4.0.5"
Warning message:
"package 'purrr' was built under R version 4.0.5"
Warning message:
"package 'dplyr' was built under R version 4.0.5"
Warning message:
"package 'stringr' was built under R version 4.0.5"
Warning message:
"package 'forcats' was built under R version 4.0.5"
-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

# Data preprocessing

Before starting the project, we need to make sure to keep only the necessary data. In order to do that, we first started to check if there we columns that were 100% equals. To do so, we created a function called $check\_all\_equal$ that will create a combinaison of all the columns of the dataset and will compare them using the $identical$ R function. We noticed that only 2 columns were 100% equals, "quantity" and "quantity_group". Therefore, we decided to remove the "quantity_group" column.

After the first parsing done, we notice that there was still some culumns that were close from being equal but they sometimes differ in one word. For example, the column "payment" and "payment_type" are always the same, they just differ in the notation.

We will first look at all the columns and safely remove all the columns that only have 1 possibility for the row, for exemple in column `recorded_by`, the row is always `GeoData Consultants Ltd`. This can be checked with

In [2]:
training_set_labels <- read.csv(file = 'data/training_set_labels.csv')
test_set_values <- read.csv(file = 'data/training_set_labels.csv')
training_set_values <- read.csv(file = 'data/training_set_values.csv')

In [3]:
for (colname in names(training_set_values)) {
    if (nrow(unique(training_set_values[colname])) == 1){
        print(paste("the column", colname, "has always the same value"))
    }
}

[1] "the column recorded_by has always the same value"

Given the huge amount of data we have, we can also look through the column in which one possibility for the row appear most of the time, and simply drop all the rows that do not fit. For exemple, in the column `num_private`, the value `0` appears more than 98% of the time, we could then simply assume that it is always 0 by dropping all the rows in which the value is not `0` in that column

In [4]:
table(training_set_values["num_private"])

    0     1     2     3     4     5     6     7     8     9    10    11    12
58643    73    23    27    20    46    81    26    46     4     4    11     5
   14    15    16    17    20    22    23    24    25    26    27    30    32
    3    35     8    17    14     6     1     5    12     2     2     1    40
   34    35    38    39    41    42    45    47    50    55    58    60    61
   10     1     4    30    10     1    36    21     5     1     4     1     3
   62    65    80    87    93    94   102   111   120   131   136   141   150
    1    22    15     1    28     1    20     1     7     1     1     1     6
  160   180   213   240   280   300   450   668   672   698   755  1402  1776
    1     1     1     1     1     1     1     1     1     1     1     1     1

We can automate this process by looking at the difference between the number of occurences of the most and the least common value for all the columns

In [5]:
differences <- data.frame(matrix(ncol = 2, nrow = 0))

for (colname in names(training_set_values)) {
    maximum <- max(table(training_set_values[colname]))
    minimum <- min(table(training_set_values[colname]))
    differences <- rbind(differences, c((maximum-minimum)/59400, colname))
}
names(differences) <- c('Difference', 'col_name')
differences <- differences[order(differences$Difference, decreasing=TRUE),]
differences

   Difference          col_name
10 0.987239057239057   num_private
29 0.874225589225589   management_group
32 0.85523569023569    water_quality
33 0.851868686868687   quality_group
19 0.802643097643098   public_meeting
38 0.766262626262626   source_class
2  0.700976430976431   amount_tsh
28 0.680622895622896   management
21 0.619393939393939   scheme_management
23 0.602626262626263   permit
40 0.582794612794613   waterpoint_type_group
34 0.54540404040404    quantity
35 0.54540404040404    quantity_group
39 0.480050505050505   waterpoint_type
22 0.474158249158249   scheme_name
25 0.450808080808081   extraction_type
26 0.449191919191919   extraction_type_group
27 0.448872053872054   extraction_type_class
30 0.408989898989899   payment
31 0.408989898989899   payment_type
18 0.35993265993266    population
24 0.348350168350168   construction_year
5  0.344057239057239   gps_height
6  0.292946127946128   installer
36 0.28543771043771    source
37 0.281868686868687   source_type
15 0.2053367003367     district_code
4  0.152912457912458   funder
11 0.131212121212121   basin
14 0.0892087542087542  region_code
13 0.0755723905723906  region
9  0.05996632996633    wpt_name
16 0.0421212121212121  lga
7  0.0304882154882155  longitude
8  0.0304882154882155  latitude
3  0.00961279461279461 date_recorded
12 0.00853535353535353 subvillage
17 0.00515151515151515 ward
1  0                   id
20 0                   recorded_by

As we can see, only `num_private` has a very high ratio of one value to the rest, so we will only remove the rows for that columns.
We will remove all the rows that contain the value that appears the most in the column `num_private`

In [6]:
old_count <- nrow(training_set_values)

In [11]:
argmax <- tail(names(sort(table(training_set_values$num_private))), 1)  # Finds the value that appear the most
training_set_values = filter(training_set_values, num_private == argmax)  # Filter and keep all the values equal to one
print(paste("The number of rows of the dataset has been reduced by", 100*(old_count - nrow(training_set_values))/59400, "%"))

[1] "The number of rows of the dataset has been reduced by 1.27441077441077 %"

## Missing value imputation

## Feature engineering

## Feature selection

In [8]:
options(repr.matrix.max.rows=10, repr.matrix.max.cols=100)
#Read the dataset to the variable training_set_labels
training_set_labels <- read.csv(file = 'data/training_set_labels.csv')
test_set_values <- read.csv(file = 'data/training_set_labels.csv')
training_set_values <- read.csv(file = 'data/training_set_values.csv')



# Adds en empty column functional_need_repairs
training_set_labels <- cbind(training_set_labels, "non_functional" = 0)
# Adds en empty column functional_need_repairs
training_set_labels <- cbind(training_set_labels, "functional_need_repairs" = 0)
# Adds an empty column functional
training_set_labels <- cbind(training_set_labels, "functional" = 0)

# Put 1 in the column depending on the status_group
training_set_labels$non_functional <- ifelse(training_set_labels$status_group == "non functional", 1, 0)
training_set_labels$functional_need_repairs <- ifelse(training_set_labels$status_group == "functional need repairs", 1, 0)
training_set_labels$functional <- ifelse(training_set_labels$status_group == "functional", 1, 0)


# print("start")
# for (col1 in 2:ncol(training_set_values)-1) {
#     for (col2 in col1:ncol(training_set_values)) {
#         if (col1 != col2) {
# #             print(col1)
# #             print(col2)
# #             print(length(training_set_values[, col1]))
# #             print(length(training_set_values[, col2]))
#             print(table(training_set_values[, col1], training_set_values[, col2]))
#         }
#     }
# }


# interesting_column_name <- c(
#     c("waterpoint_type_group", "waterpoint_type"), 
#     c("source_type", "source_class"), 
#     c("source", "source_type"),
#     c("water_quality", "quality_group"),
#     c("quantity", "quantity_group"),
#     c("extraction_type", "extraction_group_type"),
#     c("extraction_type", "extraction_type_class")
#     c("payment", "payment_type"),
#     c("management", "management_group"),
#     c("region", "region_code"),
#     c("basin", "subvillage"))

# table(training_set_values$waterpoint_type_group, training_set_values$waterpoint_type)  # we can delete row
# table(training_set_values$source_type, training_set_values$source_class)  # we can delete column
# table(training_set_values$source, training_set_values$source_type)  # we can delete column
# table(training_set_values$water_quality, training_set_values$quality_group)  # we can delete column
# table(training_set_values$quantity, training_set_values$quantity_group)  # equivalent, we delete column
# table(training_set_values$extraction_type, training_set_values$extraction_type_group)  # we can delete column
# table(training_set_values$extraction_type, training_set_values$extraction_type_class)  # We can delete column
# table(training_set_values$payment, training_set_values$payment_type)  # equivalent,  we delete column
# table(training_set_values$management, training_set_values$management_group)  # we delete column
# table(training_set_values$region, training_set_values$region_code)  # very correlated but some cities/code are ambigius
# table(training_set_values$basin, training_set_values$subvillage)  # not really correlated, keep


# head(training_set_values)
names(training_set_values)
length(names(training_set_values))
training_set_values[-c(40, 38, 37, 33, 35, 26, 27, 31, 29, 14, 12)]

 [1] "id"                    "amount_tsh"            "date_recorded"
 [4] "funder"                "gps_height"            "installer"
 [7] "longitude"             "latitude"              "wpt_name"
[10] "num_private"           "basin"                 "subvillage"
[13] "region"                "region_code"           "district_code"
[16] "lga"                   "ward"                  "population"
[19] "public_meeting"        "recorded_by"           "scheme_management"
[22] "scheme_name"           "permit"                "construction_year"
[25] "extraction_type"       "extraction_type_group" "extraction_type_class"
[28] "management"            "management_group"      "payment"
[31] "payment_type"          "water_quality"         "quality_group"
[34] "quantity"              "quantity_group"        "source"
[37] "source_type"           "source_class"          "waterpoint_type"
[40] "waterpoint_type_group"

[1] 40

      id    amount_tsh date_recorded funder          gps_height installer
1     69572 6000       2011-03-14    Roman           1390       Roman
2      8776    0       2013-03-06    Grumeti         1399       GRUMETI
3     34310   25       2013-02-25    Lottery Club     686       World vision
4     67743    0       2013-01-28    Unicef           263       UNICEF
5     19728    0       2011-07-13    Action In A        0       Artisan
...   ...   ...        ...           ...             ...        ...
59396 60739   10       2013-05-03    Germany Republi 1210       CES
59397 27263 4700       2011-05-07    Cefa-njombe     1212       Cefa
59398 37057    0       2011-04-11                       0
59399 31282    0       2011-03-08    Malec              0       Musa
59400 26348    0       2011-03-23    World Bank       191       World
      longitude latitude   wpt_name             num_private
1     34.93809   -9.856322 none                 0
2     34.69877   -2.147466 Zahanati             0
3     37.46066   -3.821329 Kwa Mahundi          0
4     38.48616  -11.155298 Zahanati Ya Nanyumbu 0
5     31.13085   -1.825359 Shuleni              0
...   ...       ...        ...                  ...
59396 37.16981  -3.253847  Area Three Namba 27  0
59397 35.24999  -9.070629  Kwa Yahona Kuvala    0
59398 34.01709  -8.750434  Mashine              0
59399 35.86132  -6.378573  Mshoro               0
59400 38.10405  -6.747464  Kwa Mzee Lugawa      0
      basin                   region      district_code lga
1     Lake Nyasa              Iringa       5            Ludewa
2     Lake Victoria           Mara         2            Serengeti
3     Pangani                 Manyara      4            Simanjiro
4     Ruvuma / Southern Coast Mtwara      63            Nanyumbu
5     Lake Victoria           Kagera       1            Karagwe
...   ...                     ...         ...           ...
59396 Pangani                 Kilimanjaro 5             Hai
59397 Rufiji                  Iringa      4             Njombe
59398 Rufiji                  Mbeya       7             Mbarali
59399 Rufiji                  Dodoma      4             Chamwino
59400 Wami / Ruvu             Morogoro    2             Morogoro Rural
      ward             population public_meeting recorded_by
1     Mundindi         109        True           GeoData Consultants Ltd
2     Natta            280                       GeoData Consultants Ltd
3     Ngorika          250        True           GeoData Consultants Ltd
4     Nanyumbu          58        True           GeoData Consultants Ltd
5     Nyakasimbi         0        True           GeoData Consultants Ltd
...   ...              ...        ...            ...
59396 Masama Magharibi 125        True           GeoData Consultants Ltd
59397 Ikondo            56        True           GeoData Consultants Ltd
59398 Chimala            0        True           GeoData Consultants Ltd
59399 Mvumi Makulu       0        True           GeoData Consultants Ltd
59400 Ngerengere       150        True           GeoData Consultants Ltd
      scheme_management scheme_name                 permit construction_year
1     VWC               Roman                       False  1999
2     Other                                         True   2010
3     VWC               Nyumba ya mungu pipe scheme True   2009
4     VWC                                           True   1986
5                                                   True      0
...   ...               ...                         ...    ...
59396 Water Board       Losaa Kia water supply      True   1999
59397 VWC               Ikondo electrical water sch True   1996
59398 VWC                                           False     0
59399 VWC                                           True      0
59400 VWC                                           True   2002
      extraction_type management  payment               water_quality
1     gravity         vwc         pay annually          soft
2     gravity         wug         never pay             soft
3     gravity         vwc         pay per bucket        soft
4     submersible     vwc         never pay             soft
5     gravity         other       never pay             soft
...   ...             ...         ...                   ...
59396 gravity         water board pay per bucket        soft
59397 gravity         vwc         pay annually          soft
59398 swn 80          vwc         pay monthly           fluoride
59399 nira/tanira     vwc         never pay             soft
59400 nira/tanira     vwc         pay when scheme fails salty
      quantity     source               waterpoint_type
1     enough       spring               communal standpipe
2     insufficient rainwater harvesting communal standpipe
3     enough       dam                  communal standpipe multiple
4     dry          machine dbh          communal standpipe multiple
5     seasonal     rainwater harvesting communal standpipe
...   ...          ...                  ...
59396 enough       spring               communal standpipe
59397 enough       river                communal standpipe
59398 enough       machine dbh          hand pump
59399 insufficient shallow well         hand pump
59400 enough       shallow well         hand pump

# Model selection

## Model 1

## Model 2

## Model 3

#### Example of simple equation
\begin{equation}
e = mc^2
\end{equation}

#### Example of matrix equation - Cross product formula:

\begin{equation*}
\mathbf{V}_1 \times \mathbf{V}_2 =  \begin{vmatrix}
\mathbf{i} & \mathbf{j} & \mathbf{k} \\
\frac{\partial X}{\partial u} &  \frac{\partial Y}{\partial u} & 0 \\
\frac{\partial X}{\partial v} &  \frac{\partial Y}{\partial v} & 0
\end{vmatrix}
\end{equation*}

#### Example of multiline equation - The Lorenz Equations:

\begin{align}
\dot{x} & = \sigma(y-x) \\
\dot{y} & = \rho x - y - xz \\
\dot{z} & = -\beta z + xy
\end{align}

#### Example of Markdown Table:

| This | is   |
|------|------|
|   a  | table|

# Alternative models

# Conclusions