In [3]:
# install.packages('dummies')
# install.packages('stringi')
# install.packages('rpart.plot')
# install.packages('dplyr', repos = 'https://cloud.r-project.org')
# install.packages('caret', dependencies = TRUE)
# install.packages("C:\\Users\\antoi\\Downloads\\stringi_1.5.3.zip")
# install.packages('dplyr', repos = 'https://cloud.r-project.org')
# install.packages("doParallel")
library(tidyverse)

print(R.version$version.string)
training_set_labels <- read.csv(file = 'data/training_set_labels.csv', na.strings = c("", " ", "none", "unknown"))
test_set_values <- read.csv(file = 'data/test_set_values.csv', na.strings = c("", " ", "none", "unknown"))
training_set_values <- read.csv(file = 'data/training_set_values.csv',  na.strings = c("", " ", "none", "unknown"))

for (colname in names(training_set_values)) {
    list_of_unique <- unique(training_set_values[colname])
    if (nrow(list_of_unique) == 1){
        print(paste("the column", colname, "has always the same value"))
    }
}

training_set_values <- training_set_values[,setdiff(colnames(training_set_values),"recorded_by")] # remove recorded_by train_data

test_set_values <- test_set_values[,setdiff(colnames(test_set_values),"recorded_by")] # remove recorded_by _train_test

maxima <- c()
for (colname in names(training_set_values)) {
   maxima <- rbind(maxima, max(table(training_set_values[colname]))/59400)
}

# Shows it nicely
df <- data.frame(names(training_set_values), maxima)
df <- df[order(df$maxima, decreasing=TRUE),]
training_set_values <- training_set_values[,setdiff(colnames(training_set_values),"num_private")] # remove num_private train_set

test_set_values <- test_set_values[,setdiff(colnames(test_set_values),"num_private")] # remove num_private test_est
chisq.test(table(training_set_values$quantity, training_set_values$quantity_group))
chisq.test(table(training_set_values$quantity, training_set_values$payment_type))
chisq.test(table(training_set_values$funder, training_set_values$payment_type))
# table(training_set_values$funder, training_set_values$payment_type)  # We see that it's mostly random
chisq.test(table(training_set_values$water_quality, training_set_values$quality_group))

test_correlation <- cbind(training_set_values,training_set_labels[2])

chisq.test(table(test_correlation$amount_tsh, test_correlation$status_group))
chisq.test(table(test_correlation$date_recorded, test_correlation$status_group))
chisq.test(table(test_correlation$funder, test_correlation$status_group))
chisq.test(table(test_correlation$gps_height, test_correlation$status_group))
chisq.test(table(test_correlation$installer, test_correlation$status_group))
chisq.test(table(test_correlation$longitude, test_correlation$status_group))
chisq.test(table(test_correlation$latitude, test_correlation$status_group))
chisq.test(table(test_correlation$wpt_name, test_correlation$status_group))
chisq.test(table(test_correlation$basin, test_correlation$status_group))
chisq.test(table(test_correlation$subvillage, test_correlation$status_group))
chisq.test(table(test_correlation$region, test_correlation$status_group))
chisq.test(table(test_correlation$region_code, test_correlation$status_group))
chisq.test(table(test_correlation$district_code, test_correlation$status_group))
chisq.test(table(test_correlation$lga, test_correlation$status_group))
chisq.test(table(test_correlation$ward, test_correlation$status_group))
chisq.test(table(test_correlation$population, test_correlation$status_group))
chisq.test(table(test_correlation$public_meeting, test_correlation$status_group))
chisq.test(table(test_correlation$scheme_management, test_correlation$status_group))
chisq.test(table(test_correlation$scheme_name, test_correlation$status_group))
chisq.test(table(test_correlation$permit, test_correlation$status_group))
chisq.test(table(test_correlation$construction_year, test_correlation$status_group))
chisq.test(table(test_correlation$extraction_type, test_correlation$status_group))
chisq.test(table(test_correlation$management, test_correlation$status_group))
chisq.test(table(test_correlation$payment, test_correlation$status_group))
chisq.test(table(test_correlation$water_quality, test_correlation$status_group))
chisq.test(table(test_correlation$quantity, test_correlation$status_group))
chisq.test(table(test_correlation$source, test_correlation$status_group))
chisq.test(table(test_correlation$waterpoint_type, test_correlation$status_group))
options(repr.matrix.max.rows=10, repr.matrix.max.cols=100) # option pour la taille des prints



# table(training_set_values$waterpoint_type_group, training_set_values$waterpoint_type)  # less information
training_set_values <- training_set_values[,setdiff(colnames(training_set_values),"waterpoint_type_group")]
test_set_values <- test_set_values[,setdiff(colnames(test_set_values),"waterpoint_type_group")]

# table(training_set_values$source_type, training_set_values$source_class)  # less information
training_set_values <- training_set_values[,setdiff(colnames(training_set_values),"source_class")]
test_set_values <- test_set_values[,setdiff(colnames(test_set_values),"source_class")]

# table(training_set_values$source, training_set_values$source_type)  # less information
training_set_values <- training_set_values[,setdiff(colnames(training_set_values),"source_type")]
test_set_values <- test_set_values[,setdiff(colnames(test_set_values),"source_type")]

# table(training_set_values$water_quality, training_set_values$quality_group)  # less information
training_set_values <- training_set_values[,setdiff(colnames(training_set_values),"quality_group")]
test_set_values <- test_set_values[,setdiff(colnames(test_set_values),"quality_group")]

# table(training_set_values$quantity, training_set_values$quantity_group)  # equivalent, we delete column
training_set_values <- training_set_values[,setdiff(colnames(training_set_values),"quantity_group")]
test_set_values <- test_set_values[,setdiff(colnames(test_set_values),"quantity_group")]

# table(training_set_values$extraction_type, training_set_values$extraction_type_group)  # we can delete column
training_set_values <- training_set_values[,setdiff(colnames(training_set_values),"extraction_type_group")]
test_set_values <- test_set_values[,setdiff(colnames(test_set_values),"extraction_type_group")]

# table(training_set_values$extraction_type, training_set_values$extraction_type_class)  # We can delete column
# training_set_values <- training_set_values[,setdiff(colnames(training_set_values),"extraction_type_class")]

# table(training_set_values$payment, training_set_values$payment_type)  # equivalent,  we delete column
training_set_values <- training_set_values[,setdiff(colnames(training_set_values),"payment_type")]
test_set_values <- test_set_values[,setdiff(colnames(test_set_values),"payment_type")]

# table(training_set_values$management, training_set_values$management_group)  # we delete column
training_set_values <- training_set_values[,setdiff(colnames(training_set_values),"management_group")]
test_set_values <- test_set_values[,setdiff(colnames(test_set_values),"management_group")]

# table(training_set_values$region, training_set_values$region_code)  # very correlated but some cities/code are ambigius
# table(training_set_values$basin, training_set_values$subvillage)  # not really correlated, keep

Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.2.1 --
v tibble  2.1.1       v purrr   0.3.4
v tidyr   0.8.3       v dplyr   0.8.0.1
v readr   1.3.1       v stringr 1.4.0
v tibble  2.1.1       v forcats 0.4.0
Warning message:
"package 'purrr' was built under R version 3.6.3"-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()
x purrr::lift()   masks caret::lift()

[1] "R version 3.6.1 (2019-07-05)"
[1] "the column recorded_by has always the same value"

	Pearson's Chi-squared test

data:  table(training_set_values$quantity, training_set_values$quantity_group)
X-squared = 175833, df = 9, p-value < 2.2e-16

	Pearson's Chi-squared test

data:  table(training_set_values$quantity, training_set_values$payment_type)
X-squared = 1723.9, df = 15, p-value < 2.2e-16

Warning message in chisq.test(table(training_set_values$funder, training_set_values$payment_type)):
"Chi-squared approximation may be incorrect"

	Pearson's Chi-squared test

data:  table(training_set_values$funder, training_set_values$payment_type)
X-squared = NaN, df = 9480, p-value = NA

Warning message in chisq.test(table(training_set_values$water_quality, training_set_values$quality_group)):
"Chi-squared approximation may be incorrect"

	Pearson's Chi-squared test

data:  table(training_set_values$water_quality, training_set_values$quality_group)
X-squared = 230096, df = 24, p-value < 2.2e-16

Warning message in chisq.test(table(test_correlation$amount_tsh, test_correlation$status_group)):
"Chi-squared approximation may be incorrect"

	Pearson's Chi-squared test

data:  table(test_correlation$amount_tsh, test_correlation$status_group)
X-squared = 4307.2, df = 194, p-value < 2.2e-16

Warning message in chisq.test(table(test_correlation$date_recorded, test_correlation$status_group)):
"Chi-squared approximation may be incorrect"

	Pearson's Chi-squared test

data:  table(test_correlation$date_recorded, test_correlation$status_group)
X-squared = 5005.7, df = 710, p-value < 2.2e-16

Warning message in chisq.test(table(test_correlation$funder, test_correlation$status_group)):
"Chi-squared approximation may be incorrect"

	Pearson's Chi-squared test

data:  table(test_correlation$funder, test_correlation$status_group)
X-squared = 14173, df = 3792, p-value < 2.2e-16

Warning message in chisq.test(table(test_correlation$gps_height, test_correlation$status_group)):
"Chi-squared approximation may be incorrect"

	Pearson's Chi-squared test

data:  table(test_correlation$gps_height, test_correlation$status_group)
X-squared = 6279.7, df = 4854, p-value < 2.2e-16

Warning message in chisq.test(table(test_correlation$installer, test_correlation$status_group)):
"Chi-squared approximation may be incorrect"

	Pearson's Chi-squared test

data:  table(test_correlation$installer, test_correlation$status_group)
X-squared = 14721, df = 4286, p-value < 2.2e-16

Warning message in chisq.test(table(test_correlation$longitude, test_correlation$status_group)):
"Chi-squared approximation may be incorrect"

	Pearson's Chi-squared test

data:  table(test_correlation$longitude, test_correlation$status_group)
X-squared = 112780, df = 115030, p-value = 1

Warning message in chisq.test(table(test_correlation$latitude, test_correlation$status_group)):
"Chi-squared approximation may be incorrect"

	Pearson's Chi-squared test

data:  table(test_correlation$latitude, test_correlation$status_group)
X-squared = 112782, df = 115032, p-value = 1

Warning message in chisq.test(table(test_correlation$wpt_name, test_correlation$status_group)):
"Chi-squared approximation may be incorrect"

	Pearson's Chi-squared test

data:  table(test_correlation$wpt_name, test_correlation$status_group)
X-squared = 75575, df = 74796, p-value = 0.02224

	Pearson's Chi-squared test

data:  table(test_correlation$basin, test_correlation$status_group)
X-squared = 1921, df = 16, p-value < 2.2e-16

Warning message in chisq.test(table(test_correlation$subvillage, test_correlation$status_group)):
"Chi-squared approximation may be incorrect"

	Pearson's Chi-squared test

data:  table(test_correlation$subvillage, test_correlation$status_group)
X-squared = 55053, df = 38572, p-value < 2.2e-16

	Pearson's Chi-squared test

data:  table(test_correlation$region, test_correlation$status_group)
X-squared = 4794.6, df = 40, p-value < 2.2e-16

Warning message in chisq.test(table(test_correlation$region_code, test_correlation$status_group)):
"Chi-squared approximation may be incorrect"

	Pearson's Chi-squared test

data:  table(test_correlation$region_code, test_correlation$status_group)
X-squared = 5157.4, df = 52, p-value < 2.2e-16

Warning message in chisq.test(table(test_correlation$district_code, test_correlation$status_group)):
"Chi-squared approximation may be incorrect"

	Pearson's Chi-squared test

data:  table(test_correlation$district_code, test_correlation$status_group)
X-squared = 1673.5, df = 38, p-value < 2.2e-16

Warning message in chisq.test(table(test_correlation$lga, test_correlation$status_group)):
"Chi-squared approximation may be incorrect"

	Pearson's Chi-squared test

data:  table(test_correlation$lga, test_correlation$status_group)
X-squared = 11530, df = 248, p-value < 2.2e-16

Warning message in chisq.test(table(test_correlation$ward, test_correlation$status_group)):
"Chi-squared approximation may be incorrect"

	Pearson's Chi-squared test

data:  table(test_correlation$ward, test_correlation$status_group)
X-squared = 26145, df = 4182, p-value < 2.2e-16

Warning message in chisq.test(table(test_correlation$population, test_correlation$status_group)):
"Chi-squared approximation may be incorrect"

	Pearson's Chi-squared test

data:  table(test_correlation$population, test_correlation$status_group)
X-squared = 4480, df = 2096, p-value < 2.2e-16

	Pearson's Chi-squared test

data:  table(test_correlation$public_meeting, test_correlation$status_group)
X-squared = 302.18, df = 2, p-value < 2.2e-16

Warning message in chisq.test(table(test_correlation$scheme_management, test_correlation$status_group)):
"Chi-squared approximation may be incorrect"

	Pearson's Chi-squared test

data:  table(test_correlation$scheme_management, test_correlation$status_group)
X-squared = 1887.1, df = 22, p-value < 2.2e-16

Warning message in chisq.test(table(test_correlation$scheme_name, test_correlation$status_group)):
"Chi-squared approximation may be incorrect"

	Pearson's Chi-squared test

data:  table(test_correlation$scheme_name, test_correlation$status_group)
X-squared = 21616, df = 5388, p-value < 2.2e-16

	Pearson's Chi-squared test

data:  table(test_correlation$permit, test_correlation$status_group)
X-squared = 67.79, df = 2, p-value = 1.904e-15

Warning message in chisq.test(table(test_correlation$construction_year, test_correlation$status_group)):
"Chi-squared approximation may be incorrect"

	Pearson's Chi-squared test

data:  table(test_correlation$construction_year, test_correlation$status_group)
X-squared = 4098.4, df = 108, p-value < 2.2e-16

Warning message in chisq.test(table(test_correlation$extraction_type, test_correlation$status_group)):
"Chi-squared approximation may be incorrect"

	Pearson's Chi-squared test

data:  table(test_correlation$extraction_type, test_correlation$status_group)
X-squared = 7365.6, df = 34, p-value < 2.2e-16

	Pearson's Chi-squared test

data:  table(test_correlation$management, test_correlation$status_group)
X-squared = 2015.2, df = 20, p-value < 2.2e-16

	Pearson's Chi-squared test

data:  table(test_correlation$payment, test_correlation$status_group)
X-squared = 3334.7, df = 10, p-value < 2.2e-16

Warning message in chisq.test(table(test_correlation$water_quality, test_correlation$status_group)):
"Chi-squared approximation may be incorrect"

	Pearson's Chi-squared test

data:  table(test_correlation$water_quality, test_correlation$status_group)
X-squared = 575.43, df = 12, p-value < 2.2e-16

	Pearson's Chi-squared test

data:  table(test_correlation$quantity, test_correlation$status_group)
X-squared = 11039, df = 6, p-value < 2.2e-16

	Pearson's Chi-squared test

data:  table(test_correlation$source, test_correlation$status_group)
X-squared = 2622.7, df = 16, p-value < 2.2e-16

Warning message in chisq.test(table(test_correlation$waterpoint_type, test_correlation$status_group)):
"Chi-squared approximation may be incorrect"

	Pearson's Chi-squared test

data:  table(test_correlation$waterpoint_type, test_correlation$status_group)
X-squared = 7450.3, df = 12, p-value < 2.2e-16

In [4]:
# Replacing NA values with "unknown"
i <- sapply(training_set_values, is.factor)
training_set_values[i] <- lapply(training_set_values[i], as.character)
training_set_values[is.na(training_set_values)] <- "unknown"
training_set_values[i] <- lapply(training_set_values[i], as.factor)
head(training_set_values)

  id    amount_tsh date_recorded funder              gps_height installer
1 69572 6000       2011-03-14    Roman               1390       Roman
2  8776    0       2013-03-06    Grumeti             1399       GRUMETI
3 34310   25       2013-02-25    Lottery Club         686       World vision
4 67743    0       2013-01-28    Unicef               263       UNICEF
5 19728    0       2011-07-13    Action In A            0       Artisan
6  9944   20       2011-03-13    Mkinga Distric Coun    0       DWE
  longitude latitude   wpt_name             basin                   subvillage
1 34.93809   -9.856322 unknown              Lake Nyasa              Mnyusi B
2 34.69877   -2.147466 Zahanati             Lake Victoria           Nyamara
3 37.46066   -3.821329 Kwa Mahundi          Pangani                 Majengo
4 38.48616  -11.155298 Zahanati Ya Nanyumbu Ruvuma / Southern Coast Mahakamani
5 31.13085   -1.825359 Shuleni              Lake Victoria           Kyanyamisa
6 39.17280   -4.765587 Tajiri               Pangani                 Moa/Mwereme
  region  region_code district_code lga       ward       population
1 Iringa  11           5            Ludewa    Mundindi   109
2 Mara    20           2            Serengeti Natta      280
3 Manyara 21           4            Simanjiro Ngorika    250
4 Mtwara  90          63            Nanyumbu  Nanyumbu    58
5 Kagera  18           1            Karagwe   Nyakasimbi   0
6 Tanga    4           8            Mkinga    Moa          1
  public_meeting scheme_management scheme_name                 permit
1 True           VWC               Roman                       False
2 unknown        Other             unknown                     True
3 True           VWC               Nyumba ya mungu pipe scheme True
4 True           VWC               unknown                     True
5 True           unknown           unknown                     True
6 True           VWC               Zingibali                   True
  construction_year extraction_type extraction_type_class management
1 1999              gravity         gravity               vwc
2 2010              gravity         gravity               wug
3 2009              gravity         gravity               vwc
4 1986              submersible     submersible           vwc
5    0              gravity         gravity               other
6 2009              submersible     submersible           vwc
  payment        water_quality quantity     source
1 pay annually   soft          enough       spring
2 never pay      soft          insufficient rainwater harvesting
3 pay per bucket soft          enough       dam
4 never pay      soft          dry          machine dbh
5 never pay      soft          seasonal     rainwater harvesting
6 pay per bucket salty         enough       other
  waterpoint_type
1 communal standpipe
2 communal standpipe
3 communal standpipe multiple
4 communal standpipe multiple
5 communal standpipe
6 communal standpipe multiple

In [5]:
library(dummies)

total_data <- rbind(training_set_values,test_set_values) # merge train and test to make dummies variable

factor_variables <- which(sapply(total_data[1,],class)=="factor") # take only factor variable
data_fact <- total_data[,factor_variables]

only_num_var <- total_data[,-factor_variables]

variables_to_keep <- c("permit", "quantity") # variable to transform

data_factor_onehot <- dummy.data.frame(data_fact[,variables_to_keep], sep="_")


data_factor_onehot[1:2,]

dim(total_data)
dim(training_set_values)

total_with_dummies <- cbind(only_num_var,data_factor_onehot)

# resplit data
# data_train
data_train <- total_with_dummies[1:59400,]
data_train <- cbind(data_train, training_set_labels[2])


# data_test
data_test <- total_with_dummies[59401:74250,]

dummies-1.5.6 provided by Decision Patterns

Warning message in model.matrix.default(~x - 1, model.frame(~x - 1), contrasts = FALSE):
"non-list contrasts argument ignored"Warning message in model.matrix.default(~x - 1, model.frame(~x - 1), contrasts = FALSE):
"non-list contrasts argument ignored"

  permit_False permit_True permit_unknown permit_NA quantity_dry
1 1            0           0              0         0
2 0            1           0              0         0
  quantity_enough quantity_insufficient quantity_seasonal quantity_unknown
1 1               0                     0                 0
2 0               1                     0                 0
  quantity_NA
1 0
2 0

[1] 74250    30

[1] 59400    30

In [6]:
# library(tidyverse)
#names(data_train) <- gsub(" ", "_", names(data_train))
names(data_train) <- make.names(names(data_train))
#names(data_test) <- gsub(" ", "_", names(data_test))
names(data_test) <- make.names(names(data_test))
data_test <- unique(data_test)
data_train <- unique(data_train)
head(data_train)

  id    amount_tsh gps_height longitude latitude   region_code district_code
1 69572 6000       1390       34.93809   -9.856322 11           5
2  8776    0       1399       34.69877   -2.147466 20           2
3 34310   25        686       37.46066   -3.821329 21           4
4 67743    0        263       38.48616  -11.155298 90          63
5 19728    0          0       31.13085   -1.825359 18           1
6  9944   20          0       39.17280   -4.765587  4           8
  population construction_year permit_False permit_True permit_unknown
1 109        1999              1            0           0
2 280        2010              0            1           0
3 250        2009              0            1           0
4  58        1986              0            1           0
5   0           0              0            1           0
6   1        2009              0            1           0
  permit_NA quantity_dry quantity_enough quantity_insufficient
1 0         0            1               0
2 0         0            0               1
3 0         0            1               0
4 0         1            0               0
5 0         0            0               0
6 0         0            1               0
  quantity_seasonal quantity_unknown quantity_NA status_group
1 0                 0                0           functional
2 0                 0                0           functional
3 0                 0                0           functional
4 0                 0                0           non functional
5 1                 0                0           functional
6 0                 0                0           functional

In [7]:
# data_train <- sapply(data_train,function(x) as.numeric(as.character(x)))
# data_test  <-  sapply(data_test,function(x) as.numeric(as.character(x)))

In [18]:
# NAIVE BAYES
library(e1071)
#library(caTools)
library(caret)

classifier <- naiveBayes(status_group~., data=data_train)
# print(classifier)

y_pred <- predict(classifier, newdata = data_test)
#print(y_pred)

status_group <- y_pred


data_predict <- test_set_values


data_predict <- cbind(data_predict[1],status_group)

data_predict

write.csv(data_predict,"Bayes.csv",row.names = FALSE)

# confusion_matrix <- table(training_set_labels$status_group, y_pred)
# print(confusion_matrix)

# print(confusionMatrix(confusion_matrix))

      id    status_group
1     50785 functional
2     51630 functional
3     17168 functional
4     45559 non functional
5     49871 functional
...   ...   ...
14846 39307 functional
14847 18990 functional
14848 28749 functional
14849 33492 functional
14850 68707 non functional

In [ ]:
# GRADIENT BOOSTING
library(gbm)


model <- gbm(formula = status_group~., distribution = "multinomial", data = data_train, n.trees = 5000,
            interaction.depth = 4, shrinkage = 0.01, cv.folds = 10, n.minobsinnode = 10)

# rf_model <- randomForest(status_group~., data= data_train) # what we need to change according of the model
# rf_model
rf_predict_unseen <- predict(model, newdata = data_test, type="response", n.trees = 5000)

# rf_predict_unseen
# cm = confusionMatrix(data_test$status_group, as.factor(labels))

status_group <- colnames(rf_predict_unseen)[apply(rf_predict_unseen, 1, which.max)]

rf_data_predict <- cbind(data_test[1], status_group)
rf_data_predict
# cm = confusionMatrix(data_test$status_group, as.factor(labels))
# print(cm)
# result <- data.frame(data_test$status_group, labels)
# print(result)
# status_group <-rf_predict_unseen

# rf_data_predict <- test_set_values


# rf_data_predict <- cbind(rf_data_predict[1],status_group)


# rf_data_predict

write.csv(rf_data_predict,"boosting.csv",row.names = FALSE)

Warning message:
"Setting `distribution = "multinomial"` is ill-advised as it is currently broken. It exists only for backwards compatibility. Use at your own risk."